<%- include('./partials/header') %>

<section class="hero"> <!-- seccion del banner -->
    <article class="hero__content container">
        <h3 class="hero__title">Nuevos Ingresos</h3>

        <p class="hero__text">Descubrí el próximo Funko Pop de tu colección</p>

        <a class="hero__link" href="/shop">SHOP</a>
    </article>
</section> <!-- seccion del banner -->

<main class="main-container">
    <% licences.forEach(licence => { %>
        <section class="collection container"> <!-- Section de coleccion -->
            <article class="collection__content"> <!-- descripcion de coleccion -->
                <h3 class="collection__title"><%= licence.licence_name %></h3>
    
                <p class="collection__text"><%= licence.licence_description %></p>
    
                <a class="collection__link" href="/shop">VER COLECCIÓN</a>
            </article> <!-- descripcion de coleccion -->
    
            <picture class="collection__cover"> <!-- imagen de coleccion -->
                <a href="/shop">
                    <img src="./img/multimedia<%= licence.licence_image %>" alt="Figura funko de baby yoda">
                </a>
            </picture> <!-- imagen de coleccion -->
        </section> <!-- Section de coleccion -->
    <%}); %>

    <%- include('./components/slider') %>
</main>

<%- include('./partials/footer') %>
