<%- include('../partials/header') %>

    <main class="main-container"> <!-- inicio del main -->
        <section class="item"> <!-- producto seleccionado -->
            <picture class="item__cover card-item__cover"> <!-- imagen del producto -->
                <img class="card-item__img--front" src="../../img/multimedia<%= item.image_front %>" alt="<%= item.product_description %>">
                <img class="card-item__img--back" src="../../img/multimedia<%= item.image_back %>" alt="<%= item.product_description %>">
            </picture> <!-- imagen del producto -->

            <article class="item__content"> <!-- descripcion del producto -->
                <p class="item__collection"><%= item.licence_id %></p>

                <h3 class="item__tittle"><%= item.product_name %></h3>

                <p class="item__text"><%= item.product_description %></p>

                <p class="item__price">$ <%= item.price %></p>

                <form class="add-to-cart" action=""> <!-- formulario para agregar cantidad de productos al carrito -->
                    <input type="button" class="add-to-cart__btn" id="btn_remove" value="-">
                    <input class="add-to-cart__input" type="number" id="item_qty" placeholder="0">
                    <input type="button" class="add-to-cart__btn" id="btn_add" value="+">

                    <input class="add-to-cart__submit" type="submit" value="Agregar al Carrito">
                </form> <!-- formulario para agregar cantidad de productos al carrito -->

                <p class="item__promo"><a class="item__link" href="#">Ver métodos de pago</a> - <%= item.dues %> CUOTAS SIN INTERÉS</p>
            </article> <!-- descripcion del producto -->
        </section> <!-- producto seleccionado -->

        <%- include('../components/slider') %>
    </main> <!-- fin del main -->

    <script src="../../js/item.js"></script>
<%- include('../partials/footer') %>