<%- include('../partials/header') %>

    <main class="main-container"> <!-- inicio del main -->
        <section class="item"> <!-- producto seleccionado -->
            <picture class="item__cover card-item__cover"> <!-- imagen del producto -->
                <img class="card-item__img--front" src="../../img/multimedia<%= item.image_front %>" alt="<%= item.product_description %>">
                <img class="card-item__img--back" src="../../img/multimedia<%= item.image_back %>" alt="<%= item.product_description %>">
            </picture> <!-- imagen del producto -->

            <article class="item__content"> <!-- descripcion del producto -->
                <p class="item__collection"><%= item.licence_id %></p>

                <h3 class="item__tittle"><%= item.product_name %></h3>

                <p class="item__text"><%= item.product_description %></p>

                <p class="item__price"><%= item.price %></p>

                <form class="add-to-cart" action=""> <!-- formulario para agregar cantidad de productos al carrito -->
                    <input type="button" class="add-to-cart__btn" id="btn_remove" value="-">
                    <input class="add-to-cart__input" type="number" id="item_qty" placeholder="0">
                    <input type="button" class="add-to-cart__btn" id="btn_add" value="+">

                    <input class="add-to-cart__submit" type="submit" value="Agregar al Carrito">
                </form> <!-- formulario para agregar cantidad de productos al carrito -->

                <p class="item__promo"><a class="item__link" href="#">Ver métodos de pago</a> - <%= item.dues %> CUOTAS SIN INTERÉS</p>
            </article> <!-- descripcion del producto -->
        </section> <!-- producto seleccionado -->

        <section class="glide slider container"> <!-- productos relacionados -->
            <h2 class="slider__title">PRODUCTOS RELACIONADOS</h2>

            <div class="glide__track" data-glide-el="track">
                <ul class="slider__items glide__slides"> <!-- listado de productos relacionados -->
                    <li class="glide__slide slider__item"> <!-- producto #1 -->
                        <article class="card-item">
                            <a class="card-item__link" href="./item.html">
                                <picture class="card-item__cover"> <!-- imagen del producto -->
                                    <span class="card-item__tag">NUEVO</span>
                                    <img class="card-item__img--front" src="../../img/multimedia/star-wars/trooper-1.webp" alt="Figura funko de stormtrooper">
    
                                    <img class="card-item__img--back" src="../../img/multimedia/star-wars/trooper-box.webp" alt="Figura funko de stormtrooper en caja">
                                </picture> <!-- imagen del producto -->
                
                                <div class="card-item__content"> <!-- descripcion del producto -->
                                    <p class="card-item__licence">STAR WARS</p>
                
                                    <h4 class="card-item__name">STORMTROOPER LIGHTSABER</h4>
                
                                    <p class="card-item__price">$ 1799,99.-</p>
                
                                    <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                                </div> <!-- descripcion del producto -->
                            </a>
                        </article> 
                    </li> <!-- producto #1 -->
    
                    <li class="glide__slide slider__item"> <!-- producto #2 -->
                        <article class="card-item"> 
                            <a class="card-item__link" href="./item.html"> 
                                <picture class="card-item__cover"> <!-- imagen del producto -->
                                    <span class="card-item__tag">NUEVO</span>
                                    <img class="card-item__img--front" src="../../img/multimedia/pokemon/pidgeotto-1.webp" alt="Figura funko de pidgeotto">
    
                                    <img class="card-item__img--back" src="../../img/multimedia/pokemon/pidgeotto-box.webp" alt="Figura funko de pidgeotto en caja">
                                </picture> <!-- imagen del producto -->
                
                                <div class="card-item__content"> <!-- descripcion del producto -->
                                    <p class="card-item__licence">POKEMON</p>
                
                                    <h4 class="card-item__name">PIDGEOTTO</h4>
                
                                    <p class="card-item__price">$ 1799,99.-</p>
                
                                    <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                                </div> <!-- descripcion del producto -->
                            </a>
                        </article>
                    </li> <!-- producto #2 -->
    
                    <li class="glide__slide slider__item"> <!-- producto #3 -->
                        <article class="card-item"> 
                            <a class="card-item__link" href="./item.html"> 
                                <picture class="card-item__cover"> <!-- imagen del producto -->
                                    <span class="card-item__tag">NUEVO</span>
                                    <img class="card-item__img--front" src="../../img/multimedia/harry-potter/luna-1.webp" alt="funko luna lovegood lion mask">
    
                                    <img class="card-item__img--back" src="../../img/multimedia/harry-potter/luna-box.webp" alt="funko luna lovegood lion mask en caja">
                                </picture> <!-- imagen del producto --> 
                
                                <div class="card-item__content"> <!-- descripcion del producto -->
                                    <p class="card-item__licence">HARRY POTTER</p>
                
                                    <h4 class="card-item__name">LUNA LOVEGOOD LION MASK</h4>
                
                                    <p class="card-item__price">$ 1799,99.-</p>
                
                                    <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                                </div> <!-- descripcion del producto -->
                            </a>
                        </article> 
                    </li> <!-- producto #3 -->
                </ul> <!-- listado de productos relacionados -->
            </div>

            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><iconify-icon icon="tabler:chevron-left"></iconify-icon></button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><iconify-icon icon="tabler:chevron-right"></iconify-icon></button>
            </div>
        </section> <!-- productos relacionados -->
    </main> <!-- fin del main -->

    <script src="../../js/item.js"></script>
<%- include('../partials/footer') %>