<%- include('../partials/header') %>

    <main class="admin">
        <section class="container">
            <article class="admin__container admin__margin">
                <img class="admin__icon" src="../../img/multimedia/icons/search_icon.svg" alt="Search icon">

                <input class="filter__input filter__input--admin" type="text" placeholder="código, nombre o categoria">
            </article>
        </section>

        <section class="container admin__container admin__box">
            <h2 class="admin__tittle">LISTADO DE PRODUCTOS</h2>

            <article class="admin__box">
                <p class="admin__label admin__label--add">AGREGAR</p>
                <a class="admin__btn--add" href="/admin/create">&plus;</a>
            </article>
        </section>

        <section class="container admin__padding">
            <article class="admin__grid">
                <h3 class="admin__label admin__label--add">ID</h3>

                <h3 class="admin__label admin__label--add">Código</h3>

                <h3 class="admin__label admin__label--add">Nombre del Producto</h3>

                <h3 class="admin__label admin__label--add">Categoria</h3>
            </article>

            <% items.forEach(item => { %>
                <article class="admin__grid">
                    <p><%= item.product_id %></p>
                    <p><%= item.sku %></p>
                    <p><%= item.product_name %></p>
                    <p><%= item.licence_id %></p>
                    <a class="grid__btn" href="/admin/edit/<%= item.product_id %>">
                        <img src="../../img/multimedia/icons/edit_pencil.svg" alt="edir icon">
                    </a>
                    <button class="grid__btn">
                        <img src="../../img/multimedia/icons/delete_trash.svg" alt="delete icon">
                    </button>
                </article>
            <% }); %>
        </section>
    </main>

    <%- include('../partials/footer') %>